button {
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
  
    color: rgb(23, 182, 23);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: 2px solid #6C757D;
    background: transparent;
}
button:hover{
    border: 2px solid #6C757D;
    background: rgb(23, 182, 23);
    color: white;
}


button.delete {
    background: rgba(220, 56, 72, 0);
    color: #dc3545;
    border: 2px  solid #dc3545;
     border-radius: 50px;
}
button.delete:hover {
    border: 2px solid #6C757D;
    background: #dc3545;
    color: white;
}

button.edit {
    background: #ffc10700;
    margin-bottom: 5px;
    color: #ffc107;
    border: 2px  solid #ffc107;
    border-radius: 50px;
}
button.edit:hover {
    border: 2px solid #6C757D;
    background: #ffc107;
    color: white;
}

#add{
    border: 2px solid rgb(23, 182, 23);
}